.profile__info {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 0;
    position: relative;
    width: 100%;
    grid-area: info;
}

@media screen and (max-width: 770px) {
    .profile__info {
        margin-top: 26px;
        margin-left: 0;
    }
}